<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" routerLink="/"><img src="/assets/Q4_Blue.svg" width="30" height="30" alt="Q4 logo"></a>
    <div class="collapse navbar-collapse" *ngIf="authService.isAuthenticated">
        <div class="navbar-nav">
            <a class="nav-item nav-link" [routerLink]="['/clients']" routerLinkActive="active">Clients</a>
            <a class="nav-item nav-link" [routerLink]="['/stockquotes']" routerLinkActive="active">Stock Quotes</a>
            <a role="button" class="nav-item nav-link" (click)="logout()">Log Out</a>
        </div>
    </div>
</nav>