<h1>Login</h1>
<form #loginForm="ngForm" (submit)="login()" novalidate>

    <md-input-container>
        <input mdInput placeholder="Username" class="form-control" [class.form-control-danger]="username.invalid && username.touched" [class.form-control-success]="username.valid && username.touched" name="username" type="text" [(ngModel)]="model.username" #username="ngModel"
            required>
    </md-input-container>

    <div mdError *ngIf="username.touched && username.invalid">Username is required.</div>
    <md-input-container>
        <input mdInput placeholder="Password" class="form-control" [class.form-control-danger]="password.invalid && password.touched" [class.form-control-success]="password.valid && password.touched" name="password" type="password" [(ngModel)]="model.password"
            #password="ngModel" required>
    </md-input-container>

    <div mdError *ngIf="password.touched && password.invalid">Password is required.</div>


    <button type="submit" md-raised-button [disabled]="loginForm.invalid">Log In</button>
</form>