/*.ngx-datatable .datatable-header .datatable-header-cell-label {
  font-weight: bold;
}
.ngx-datatable .datatable-body-row {
  padding: 10px 0;
  cursor: pointer;
}

.ngx-datatable .datatable-body-row.datatable-row-even {
  background-color: #efefef;
}
.ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell {
  padding: 0 4px;
}*/

@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
.link-source {
    display: block;
    font-size: 8pt;
    font-style: italic;
}